.signup-form {
  border: 2px solid var(--color-two);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.signup-form h3 {
  color: var(--color-one);
  margin: auto;
  font-size: 26px;
}

.btn {
  margin-top: 10px;
  width: 100px;
}